.members
{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.follow
{
    a
    {
        border: none;
    }

    a:hover
    {
        filter: brightness(0.85);
    }
}