.mainContainer {
    background-image: url('../../public/img/logo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 1200px;
    height: 90vh;
}

.jamContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 25px;
    background-image: linear-gradient(to right,#de454bbb, #66171abb 50%, #de454bbb 100%);
}

.otherContainer {
    margin-top: 20vh;
    color: #eee;
    background-image: linear-gradient(#ab171abb, #de454bbb);
}

.sloganContainer {
    h1 {
        text-align: center;
        font-size: 1.5em;
        padding: 5px 5px 0 5px;
    }

    p {
        text-align: center;
        padding-bottom: 5px;
    }
}

.homeContainer {
    text-align: center;
    h1 {
        text-align: center;
    }
}

.usContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}