.mainContainer {
    height: 10vh;
    background-color: #556665;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.5em;
    color: #eee
    ;
    p {
        margin-top: auto;
        margin-bottom: auto;
    }
}